@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chakra+Petch&display=swap');

body,
header,
#container1,
#container2 {
    display: flex;
}

body,
header,
#container2 {
    flex-direction: column;
}

#container1 {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;

}
#title{
    text-align: center;
}

header {
    max-width: 100%;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
}

#title {
    font-family: "Anton";
    font-size: 5em;
    color: white;
}

#subtitle {
    font-family: "Chakra Petch";
    font-size: 2em;
    color: white;
}

#container1, 
#container2{
    max-width: 100%;
    height: 400px;
    color: white;
    flex-wrap: wrap;
}

#container2{
    /* border: 2px solid white;
    border-top: 1px solid white; */
}

#btn1,
#btn2,
#btn3 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
    background-size:contain;
    background-repeat: no-repeat;
    
    
    

    
    
    
}

#btn1 {
    background-image: url(images/Rock.png);
}

#btn2 {
    background-image: url(images/Paper.png);
}

#btn3 {
    background-image: url(images/Scissor.png);
}

#btn1:hover {
    width: 230px;
    height: 230px;

}

#btn2:hover {
    width: 230px;
    height: 230px;
}

#btn3:hover {
    width: 230px;
    height: 230px;
}

.glowing-circle1,
.glowing-circle2,
.glowing-circle3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.glowing-circle1 {
    box-shadow: 0 0 20px 10px #fff, 0 0 30px 10px #b400ff, 0 0 50px 20px #ff00d4;
}

.glowing-circle2 {
    box-shadow: 0 0 20px 10px #fff, 0 0 30px 10px #ffec00, 0 0 50px 20px #d2ff00;
}

.glowing-circle3 {
    box-shadow: 0 0 20px 10px #fff, 0 0 30px 10px #00ffe3, 0 0 50px 20px #00e3ff;
}

.animate {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.one {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.two {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.three {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
}



@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

