@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chakra+Petch&family=Press+Start+2P&display=swap');
body,
header,
#container1,
#container2 {
    display: flex;
}

body,
header,
#container2 {
    flex-direction: column;
}

#container1 {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    gap: 5em;

}
#title{
    text-align: center;
}

header {
    max-width: 100%;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
}

#title {
    font-family: "Anton";
    font-size: 5em;
    color: white;
}

#subtitle {
    font-family: "Chakra Petch";
    font-size: 2em;
    color: white;
}

#container1, 
#container2{
    max-width: 100%;
    height: 400px;
    color: white;
    
}

#container2{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

#choices{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    
  
}

#results{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
}

#right,
#center,
#left{
    display:flex;
    font-family: "Press Start 2p";
    flex: 1 0 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: large;

}

#btn1,
#btn2,
#btn3 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
    background-size:contain;
    background-repeat: no-repeat;
}

#btn4
{
    background-color: black;
    color: white;
    border: 2px solid white;
    font-family: 'Press Start 2P';
    padding: 1rem;
    flex: 1 0 0;
}

#btn1 {
    background-image: url(images/Rock.png);
}

#btn2 {
    background-image: url(images/Paper.png);
}

#btn3 {
    background-image: url(images/Scissor.png);
}

/* #btn1:hover {
    width: 230px;
    height: 230px;

}

#btn2:hover {
    width: 230px;
    height: 230px;
}

#btn3:hover {
    width: 230px;
    height: 230px;
} */

#btn1:active{
        background-color: white;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
}

#btn2:active{
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#btn3:active{
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



#btn4:hover{
    background-color: white;
    color: black;
}

.glowing-circle1,
.glowing-circle2,
.glowing-circle3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.glowing-circle1 {
    box-shadow: 0 0 20px 10px #fff, 0 0 30px 10px #b400ff, 0 0 50px 20px #ff00d4;
}

.glowing-circle2 {
    box-shadow: 0 0 20px 10px #fff, 0 0 30px 10px #ffec00, 0 0 50px 20px #d2ff00;
}

.glowing-circle3 {
    box-shadow: 0 0 20px 10px #fff, 0 0 30px 10px #00ffe3, 0 0 50px 20px #00e3ff;
}

.animate {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.one {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.two {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.three {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.four {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}



@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}



